/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.blackbox{
		background-color: rgba(0,0,0,0.5);
		padding-top: 10px;
	}
	.logo-img{
		display: block;
		margin: 0 auto 5%;
	}
	html, body {
	    max-width: 100%;
	    overflow-x: hidden;
	    overflow-y: hidden;
	}
	.hidden-sm{
		display: none;
	}

	#content{
	  overflow: visible;
	  height: 50%;
	}
	#content .circleBox{
		margin-top: -20%;
		margin-bottom: 30%;
	}
	#content footer{
		display: none;
	}

	#content .big[type="twink"]{
		height: 5%;
	}
	.blockBox .textContainer{
		height: 100%;
		width: 100%;
	}
	.blockBox .leftSide{
		width: 100%;
		float: none;
		height: 450px;
		overflow: hidden;
	}
	.blockBox .leftSide .image img{
		height: 100vh;
	}
	.blockBox .rightSide{
		padding-top: 10%;
		width: 100%;
		float: none;
		/*margin-top: ;*/
	}
	.slider .dots{
		display: none;
	}
	/* reverse-slider fix */
	#catering .blockBox,
	#history .blockBox{
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    /* optional */
	    -webkit-box-align: start;
	    -moz-box-align: start;
	    -ms-flex-align: start;
	    -webkit-align-items: flex-start;
	    align-items: flex-start;
	}
	#catering .blockBox .leftSide,
	#history .blockBox .leftSide{
		padding-top: 10%;
		width: 100%;
		float: none;
		overflow-x: hidden;
		overflow-y: visible;
		height: auto;
		-webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	}
	#catering .blockBox .rightSide,
	#history .blockBox .rightSide{
		padding-top: 0;
		width: 100%;
		float: none;
		height: 450px;
		overflow: hidden;
		-webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -ms-flex-order: 2;
	    -webkit-order: 1;
	    order: 1;
	}
	#history .slider{
		height: auto;
	}
	#history .slider .image img{
		margin-left: 10%;
	}
	#catering .blockBox .leftSide .textBox,
	#history .blockBox .leftSide .textBox{
		padding-top: 10%;
	}

	.slider .sliderBox{
		overflow-x: hidden;
		overflow-y: visible;
		padding-bottom: 5%;
	}
	.blockBox{
		overflow-x: hidden;
		overflow-y: visible;
	}

	/* erases scrolling! */
	#content [type="paralax"]{
		height: auto;
	}

	/* halls-fix */
	#halls.halls .blockBox .leftSide{
		height: auto;
	}
	#halls .blockBox .leftSide{
		padding-top: 10%;
		width: 100%;
		float: none;
		overflow-x: hidden;
		overflow-y: visible;
		height: auto;
		-webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	}
	#halls .blockBox .rightSide{
		padding-top: 0;
		width: 100%;
		float: none;
		height: 450px;
		overflow: hidden;
		-webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -ms-flex-order: 2;
	    -webkit-order: 1;
	    order: 1;
	}
	#halls .tour{
		width: 100%;
	}
	.blockBox .leftSide .textBox{
		padding-left: 0;
	}
	#halls .textContainer{
		width: 100%;
	}

	/* padding-left fix */
	#history .leftSide,
	#halls .leftSide{
		padding-left: 10%;
	}
	#catering .leftSide{
		padding-left: 20%;
	}
	#tour{
		padding-left: 20%;
	}
	#tour .scroll{
		/*display: none;*/
	}

	/* bottom-line fix */
	paralax{
		display: none;
	}
	.highslide-container{
	}
	#content::after{
		display: none;
	}

	/* menu items */
	.dishes-tab_item strong{
		display: block;
		background-color: #EEEEEE;
		padding: 2px;
		font-family: 'Merriweather', serif;
		font-style: italic;
		font-size: 14px;
	}

	/* circle width */
	.circleBox #circle{
		width: 100%;
		height: 345px;
	}
	.circleBox #circle .center{
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	body{
		overflow-y: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#history .slider .image img{
		margin-left: 0;
	}
	#history .slider{
		height: auto;
	}
	.blockBox .leftSide{
		height: 300px;
	}
	#catering .blockBox .rightSide,
	#history .blockBox .rightSide{
		height: 300px;
	}
	/* padding-left fix */
	#halls .leftSide{
		padding-left: 0;
	}
	#halls #totalGallery,
	#halls .tour .title
	{
		padding-left: 10%;
	}
	#tour{
		padding-left: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}