/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1250px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {
	.blackbox{
		background-color: rgba(0,0,0,0.5);
		padding-top: 10px;
	}
	.logo-img{
		display: block;
		margin: 0 auto 5%;
	}
	body {
	    max-width: 100%;
	    overflow-x: hidden;
	    overflow-y: scroll;
	}
	.hidden-sm{
		display: none;
	}

	#content{
	  overflow: visible;
	  height: 50%;
	}
	#content .circleBox{
		margin-top: -20%;
		margin-bottom: 30%;
	}
	#content footer{
		display: none;
	}

	#content .big[type="twink"]{
		height: 0;
	}
	.blockBox .textContainer{
		height: 100%;
		width: 100%;
	}
	.blockBox .leftSide{
		width: 100%;
		float: none;
		height: 450px;
		overflow: hidden;
	}
	#catering .blockBox .rightSide,
	#history .blockBox .rightSide{
		height: 450px;
	}
	#history .blockBox .leftSide{
		height: auto;
	}
	.blockBox .leftSide .image img{
		width: auto;
		max-width: 150%;
		min-width: 100%;
		height: auto;
		max-height: 150%;
		min-height: 100%;
		margin-left: 0;
	}
	#history .blockBox .rightSide .image{
		height: 100%;
	}
	#catering .blockBox .rightSide .image img,
	#history .blockBox .rightSide .image img{
		height: inherit;
		width: auto;
		margin-left: 0;
	}
	#catering .blockBox .rightSide .image img,
	#history .blockBox .rightSide .image img{
		width: auto;
		max-width: 150%;
		min-width: 100%;
		height: auto;
		max-height: 130%;
		min-height: 100%;
	}
	
	.blockBox .rightSide{
		// padding-top: 10%;
		width: 100%;
		float: none;
		/*margin-top: ;*/
	}
	.slider .dots{
		display: none;
	}
	/* reverse-slider fix */
	#catering .blockBox,
	#history .blockBox{
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    /* optional */
	    -webkit-box-align: start;
	    -moz-box-align: start;
	    -ms-flex-align: start;
	    -webkit-align-items: flex-start;
	    align-items: flex-start;
	}
	#catering .blockBox .leftSide,
	#history .blockBox .leftSide{
		// padding-top: 10%;
		width: 100%;
		float: none;
		overflow-x: hidden;
		overflow-y: visible;
		height: inherit;
		-webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	}
	#catering .blockBox .rightSide,
	#history .blockBox .rightSide{
		padding-top: 0;
		width: 100%;
		float: none;
		// height: 450px;
		overflow: hidden;
		-webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -ms-flex-order: 2;
	    -webkit-order: 1;
	    order: 1;
	}
	#history .slider{
		height: auto;
	}
	#catering .blockBox .textContainer,
	#history .blockBox .textContainer{
		height: auto;
	}

	.slider .sliderBox{
		overflow-x: hidden;
		overflow-y: visible;
		padding-bottom: 5%;
	}
	.blockBox{
		overflow-x: hidden;
		overflow-y: visible;
	}

	/* erases scrolling! */
	#content [type="paralax"]{
		height: auto;
	}

	/* halls-fix */
	#halls.halls .blockBox .leftSide{
		height: auto;
	}
	#halls .blockBox .leftSide{
		padding-top: 10%;
		width: 100%;
		float: none;
		overflow-x: hidden;
		overflow-y: visible;
		height: auto;
		-webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	}
	#halls .blockBox .rightSide{
		padding-top: 0;
		width: 100%;
		float: none;
		height: 450px;
		overflow: hidden;
		-webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -ms-flex-order: 2;
	    -webkit-order: 1;
	    order: 1;
	}
	#halls .tour{
		width: 100%;
	}
	.blockBox .leftSide .textBox{
		padding-left: 0;
	}
	#halls .textContainer{
		width: 100%;
	}

	/* padding-left fix */
	/*#history .leftSide,
	#halls .leftSide{
		padding-left: 10%;
	}
	#catering .leftSide{
		padding-left: 20%;
	}
	#tour{
		padding-left: 20%;
	}*/
	.blockBox .leftSide .textBox, .blockBox .rightSide .textBox{
		padding: 0 10%;
		width: 100%;
	}
	.blockBox .leftSide .textContainer{
		float: none;
	}
	.tour{
		display: none;
	}

	/* bottom-line fix */
	paralax{
		display: none;
	}
	.highslide-container{
	}
	#content::after{
		display: none;
	}

	/* menu items */
	.dishes-tab_item strong{
		display: block;
		background-color: #EEEEEE;
		padding: 2px;
		font-family: 'Merriweather', serif;
		font-style: italic;
		font-size: 14px;
	}

	/* circle width */
	#content .circleBox{
		margin-top: -10%;
		margin-bottom: 10%;
		min-height: 350px;
	}
	.circleBox #circle{
		width: 345px;
		height: 345px;
		max-width: 140%;
		max-height: 140%;
	}
	.circleBox #circle .center{
		width: 100%;
	}
	.big[type="twink"]{
		line-height: 20px;
	}
	
	/* weird box from jquery */
	.ui-loader.ui-corner-all{
		display: none;
	}

	/* Hiding circle-menu */
	#content .circleBox{
		display: none;
	}
	#content{
		// margin-top: -13%;
	}
	#halls, #team{
		margin-top: -13%;
	}

	/* Sliders size */
	.slider .backward{
		left: 0;
	}
	.slider .forward{
		right: 0;
	}
	.slider .backward:hover, 
	.slider .forward:hover{
		background: none;
	}
	.slider .backward, 
	.slider .forward{
		width: 35px;
		height: 35px;
		background: none;
	}

	.gotop-streaks{
		display: none;
		width: 100%;
		position: fixed;
		top: 0;
		height: 40px;
		overflow: hidden;
		background-color: rgba(30,48,62,0.6);
	}
	.gotop-streaks a{
		display: block;
		text-align: center;
	}
	.gotop-streaks a img{
		width: 50px;
		height: 50px;
		margin-top: -5px;
	}

	.logo-img{
		width: 90%;
		max-width: 350px;
	}

	/* меню */
	.dishes-wrapper .dishes-tabs{
		overflow: visible;
	}
	#content .download a{
		margin-top: 20px;
		line-height: 24px;
		height: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#content{
		// margin-top: -17%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.blockBox .leftSide{
		height: 300px;
	}
	#catering .blockBox .rightSide,
	#history .blockBox .rightSide {
	    height: 300px;
	}
	#catering .blockBox .leftSide,
	#history .blockBox .leftSide {
	    height: auto;
	}
	#history .slider .image img{
		margin-left: 0;
	}
	#history .rightSide .image img{
		height: 100%;
	}
	#history .slider{
		height: auto;
	}
	
	
	/* padding-left fix */
	#halls .leftSide{
		padding-left: 0;
	}
	#tour{
		padding-left: 0;
	}
	#content .circleBox{
		margin-top: -15%;
		margin-bottom: 15%;
	}
	.circleBox #circle{
		width: 345px;
		height: 345px;
		max-width: 100%;
		max-height: 120%;
	}

	#halls, #team{
		margin-top: -33%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}